body {
  background-color: #24af52;
}

.imageBlock {
  margin-top:20% ;
  height: 70vh;
  /* width: 100%; */
  display: flex;
  justify-content: right;
}

.imageBlock2 {
  margin-top:20% ;
  height: 70vh;
  /* width: 100%; */
  display: flex;
  justify-content: left;
}


img {
    width:  600px;
    height: 400px;
    object-fit: cover;

}
